body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #419096;
  }
  
  html{height: 100%;
}
  header {
    background-color: #3b505c;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 20px;

  }
  nav {
    color: #ffffff;
    background-color: #3b505c;
    padding: 10px;
    text-align: center;
  }
  nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  main {
    color: #000000;
    display: flex;
    padding: 20px;
  }
  article {
    color: #ffffff;  
    flex: 3;
    padding-right: 20px;
  }
  aside {
    
    color: white;  
    flex: 1;
    background-color:  #3b505c;
    height: 25%;
    padding: 15px;
    width: 15px;
    border: 1px solid  #3b505c;
    border-radius: 20px  #3b505c;
    
  }
  footer {
    background-color:#3b505c;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
  }
  button{
    padding: 10px 8px;
    width: 50px;
    color: black;
    background: #3b505c;
    border: 1px solid #555;
    border-radius: 5px;
  }

  .div1{
    background-color: #3b505c;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    border-left: 4px solid #3b505c;
    padding: 30px;
    margin: 8% 0;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: large;
    max-width: 2100px;
    margin-left: 25%;
    margin-right: 25%;


  }

  .botoes {
    position: fixed;
    top: 27%; /* Ajustar de acordo com o header*/
    right: 0;
    width: 180px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px 0;
    z-index: 5;
    overflow-y: scroll;
  
  }
  
  .botoes .botao {
    width: 80px;
    border: none;
    cursor: pointer;
    border-radius: 16%;
    transition: transform 0.3s ease;
  }
  
  .botoes .botao img {
    width: 80px;
    border-radius: 15%;
  }
  
  .botoes .botao#b1 {
    transform: scale(1.2);
    box-shadow: 0 0 12px rgb(141, 255, 141);
  }
  
  .botao:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 255, 180, 1);
  }

  ul {
    list-style: none;
}